body {
  background-color: rgb(21, 136, 136);
}

canvas {
<<<<<<< HEAD
border-radius: 1rem;
box-shadow: 0px 3px 12px 5px black;
=======
  border-radius: 1rem;
>>>>>>> feature/game-setup
}

#playerName {
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

#playerName:focus-visible {
  border: none;
}

#submit {
  margin-left: 10px;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
